#searchLabelPark {
    margin-right: 60px;
}

#searchLabelRestaurant {
    margin-right: 20.91px;
}

#searchLabelMeetup {
    margin-right: 40.45px;
}

#searchLabelConcert {
    margin-right: 38.69px;
}

#parkSearch {
    margin-right: 10px;
}

#restaurantSearch {
    margin-right: 38.4px;
}

#meetupSearch {
    margin-right: 38.4px;
}

#concertSearch {
    margin-right: 38.4px;
}

.textSearchButtonPair {
    min-width: 455.2px;
    margin: 5px 0 5px 0;
}

.resultContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 10px;

}

button:hover{
    background-color: aquamarine;
}

#searchContainer, h1, #resultsContainer, #itineraryContainer {
    border-bottom: gray 0.5px solid;
}

button{
    height: 22px
}

.saveResult{
    margin: 5px 0 5px 0;
}